# Desarrollo aislado en el mismo servidor
POSTGRES_DB=bermudez_b2b_dev
POSTGRES_USER=bermudez_dev
POSTGRES_PASSWORD=CAMBIAR_CLAVE_DESARROLLO
JWT_SECRET=CAMBIAR_JWT_DESARROLLO
INTEGRATION_API_KEY=CAMBIAR_INTEGRACION_DESARROLLO
SHOW_ORDER_STATUS_HISTORY=true
CUSTOMER_SYNC_INTERVAL_SECONDS=30
CUSTOMER_SYNC_BATCH_SIZE=30
SEED_PRODUCTS=0
SEED_CUSTOMERS=0
API_BIND=127.0.0.1
API_PORT=8002
WEB_BIND=0.0.0.0
WEB_PORT=8081
SQLSERVER_HOST=WSRV25BBDD
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=EXITERP
SQLSERVER_USER=SBU
SQLSERVER_PASSWORD=CAMBIAR_CLAVE_EXIT
SQLSERVER_STOCK_EXCLUDED_WAREHOUSES=97,98
PRODUCT_IMAGE_SOURCE=auto
