POSTGRES_DB=bermudez_b2b
POSTGRES_USER=bermudez
POSTGRES_PASSWORD=CAMBIAR_POR_UNA_CLAVE_LARGA_Y_ALEATORIA
JWT_SECRET=CAMBIAR_POR_OTRO_SECRETO_LARGO_Y_ALEATORIO
SEED_PRODUCTS=15000
SEED_CUSTOMERS=100
WEB_BIND=0.0.0.0
WEB_PORT=80

