POSTGRES_DB=bermudez_b2b
POSTGRES_USER=bermudez
POSTGRES_PASSWORD=CAMBIAR_POR_UNA_CLAVE_LARGA_Y_ALEATORIA
JWT_SECRET=CAMBIAR_POR_OTRO_SECRETO_LARGO_Y_ALEATORIO
SEED_PRODUCTS=15000
SEED_CUSTOMERS=100
WEB_BIND=0.0.0.0
WEB_PORT=80
API_PORT=8001
SQLSERVER_HOST=WSRV25BBDD
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=EXITERP
SQLSERVER_USER=SBU
SQLSERVER_PASSWORD=CAMBIAR_POR_LA_CLAVE_REAL_EN_EL_SERVIDOR
SQLSERVER_IMAGE_SCHEMA=dbo
SQLSERVER_IMAGE_TABLE=imagenes
SQLSERVER_IMAGE_KEY_COLUMN=CodigoArticulo
SQLSERVER_IMAGE_COLUMN=imagen
SQLSERVER_STOCK_SCHEMA=dbo
SQLSERVER_STOCK_TABLE=tempstockarticulo
SQLSERVER_STOCK_ARTICLE_COLUMN=CodigoArticulo
SQLSERVER_STOCK_WAREHOUSE_COLUMN=CodigoAlmacen
SQLSERVER_STOCK_UNITS_COLUMN=UnidadesSaldo
SQLSERVER_WAREHOUSES_SCHEMA=dbo
SQLSERVER_WAREHOUSES_TABLE=almacenes
SQLSERVER_WAREHOUSES_CODE_COLUMN=CodigoAlmacen
SQLSERVER_WAREHOUSES_DESCRIPTION_COLUMN=Almacen
SQLSERVER_STOCK_EXCLUDED_WAREHOUSES=97,98
SQLSERVER_ARTICLES_SCHEMA=dbo
SQLSERVER_ARTICLES_TABLE=articulos
SQLSERVER_ARTICLES_CODE_COLUMN=CodigoArticulo
SQLSERVER_PRICE_WITH_TAX_COLUMN=PrecioVentaConIVA0
SQLSERVER_PRICE_WITHOUT_TAX_COLUMN=PrecioVentaSinIVA0
